.navbar {
	background-color: #3B5998;
}

.navbar>.container>div>.navbar-nav>li>a {
	background: none;
	color: lightgray;
	font-weight: bold;
}

.navbar>.container>div>.navbar-nav>li>a:hover {
	background: none;
	color: white;
	font-weight: bold;
}

.navbar>.container>.navbar-header>a {
	background: none;
	color: white;
	font-weight: bold;
}

.navbar>.container>.navbar-header>a:hover {
	background: none;
	color: white;
}

.footer {
	background-color: #3B5998;
	color: lightgray;
}